#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

body {
  margin: 2em 0;
}

a {
  font-weight: normal;
  color: blue;
  font-size: small;
}

a.active {
  font-weight: bold;
  color: black;
}

.main {
  margin: auto;
  max-width: 100%;
  padding: 2px;
}
.annee {
  width: 3em;
}
.filters {
  padding-bottom: 20px;;
}
.form {
  padding: 5px;
  display: inline-flex;
}
.form button {
  margin-left: 5px;;
}
table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr td {
  padding: 5px;
  font-size: 0.9em;
}
